.user-intro {
  .group {
    .sm-group {
      margin-right: 1rem;
      display: none;
    }
    .group-btns {
      position: relative;
      top: 0px;
      margin: 0px;
      border: 0px;
      border-radius: 0px;
    }
  }
}

@media screen and (max-width: 1024px) {
  .user-intro {
    .group {
      .sm-group {
        display: flex;
      }
      .group-btns {
        display: none;
      }
    }
  }
}
