.user-about {
  width: 40%;
  .online:before {
    content: "";
    float: left;
    background: rgb(34 197 94 / var(--tw-border-opacity));
    border-radius: 100%;
    width: 10px;
    height: 10px;
    margin: 6px 4px 0 0;
  }
  .about-lg {
    display: block;
  }
  
  .about-sm {
    display: none;
  }
}


@media screen and (max-width: 768px) {
  .user-about {
    width: 100%;
    margin-left: 0;
    .about-lg {
      display: none;
    }
    .about-sm {
      display: block;
      padding: 2%;
      margin-bottom: 5%;
    }
  }
}
