.about {
  .banner-bg {
    position: absolute;
    top: 0;
    left: 0;
    background: url("/about/about_top.jpg") top center no-repeat fixed;
    background-size: auto;
    height: 340px;
    width: 100%;
    margin-top: 65px;
    display: flex;
    align-items: center;
    .banner-logo {
      margin: 0 auto;
      width: 200px;
      height: "auto";
    }
  }
  .about-content {
    position: relative;
    margin-top: 480px;
    .title {
      text-align: center;
      margin: 0 auto;
      .title-logo {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 10px;
      }
      .title-hr {
        margin: 0 auto;
        text-align: center;
        width: 250px;
        border: 1px #aaa solid;
      }
    }
    .about-content-txt {
      margin: 3% 20%;
    }
    .audience {
      background-color: #f4f4f4;
      .title {
        padding: 5%;
        .subtxt {
          font-size: 16px;
        }
        .subtxt2 {
          font-size: 36px;
          font-weight: 500;
        }
      }
      .about-img {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5% 0;
        .content {
          padding-left: 64px;
        }
        .tr {
          color: #2b2b2b;
          font-size: 28px;
          line-height: 16px;
          padding-bottom: 20px;
        }
        .tr2 {
          color: #868686;
          font-size: 24px;
          line-height: 24px;
          padding-bottom: 7px;
        }
        .tr3 {
          color: #818181;
          font-size: 12px;
        }
        .sign {
          color: #007cfb;
          font-size: 50px;
          font-weight: 400;
          line-height: 40px;
          padding-bottom: 13px;
        }
      }
      .bg-r2 {
        background: #eeeeee;
      }
    }
    .last-sentence {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    .banner-bg {
      height: 295px;
      .banner-logo {
        width: 180px;
        height: "auto";
      }
    }
    .about-content {
      margin-top: 420px;
      .about-content-txt {
        margin: 3%;
      }
      .audience {
        .title {
          .subtxt {
            font-size: 12px;
          }
          .subtxt2 {
            font-size: 30px;
          }
        }
        .about-img {
          flex-direction: column;
          .content {
            padding-left: 0;
            padding: 40px 0;
            text-align: center;
          }
          .img {
            width: 35%;
            height: "auto";
          }
          .tr {
            font-size: 20px;
          }
          .tr2 {
            font-size: 18px;
          }
          .tr3 {
            font-size: 7px;
          }
          .sign {
            font-size: 40px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .about {
    .about-content {
      .about-content-txt {
        margin: 4%;
      }
      .audience {
        .title {
          .subtxt {
            font-size: 14px;
          }
          .subtxt2 {
            font-size: 32px;
          }
        }
        .about-img {
          .img {
            width: 40%;
            height: "auto";
          }
          .tr {
            font-size: 24px;
          }
          .tr2 {
            font-size: 20px;
          }
          .tr3 {
            font-size: 8px;
          }
          .sign {
            font-size: 40px;
          }
        }
      }
      .last-sentence {
        font-size: 24px;
      }
    }
  }
}

@media screen and (min-width: 1700px) {
  .about {
    .banner-bg {
      background-size: contain;
    }
  }
}
